.main__cover {
    position: relative;
    height: 100vh;
    background-image: url("../images/susan-wilkinson-xuGGytlK0-E-unsplash.jpg");
    background-size: cover;
}

.main__heading {
    display: block;
}

.main__background {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    opacity: .7;
}

.color-red {
    background-color: red;
}